.game {
  text-align: center;
  width: 450px;
  margin: 0 auto;
}

.board {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.board-cell {
  text-align: center;
  height: 150px;
  line-height: 150px;
  font-size: 30px;
  border: 1px solid black;
  flex-basis: 33.3%
}
